$bgcolor: rgb(55,189,160);
$headerColor: rgb(55,189,160);
$bgnegativecolor: white;
$negativecolor: lightgrey;
$headerfontbase: 'sans-serif' 14px;

@mixin bg($color, $opacity: 1) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin text-stroke($color){
    text-shadow:0 0 2px $color;
    /*text-shadow: -1px -1px 0px $color,
         0px -1px 0px $color,
         1px -1px 0px $color,
        -1px  0px 0px $color,
         1px  0px 0px $color,
        -1px  1px 0px $color,
         0px  1px 0px $color,
         1px  1px 0px $color;
*/}

@import "../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.back-soon{
    position: absolute;
    right: 1%;
    /*width: 140px;*/
    top: 106%;
    /*z-index: 10000;*/
}

a{
    user-select: none;
    cursor: pointer;
    &:hover,&:focus{
        text-decoration:none !important;
        opacity: 0.8;

    }
}

body#body {
    font-family: sans-serif;
    background-color: $bgcolor;
    /*background-image: linear-gradient(to bottom, $bgcolor, #918e82 100%);*/
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

h1{
    margin: 0;
    width: 100%;
    text-align: center;
}

.list-group .list-group-item{
    background-color: transparent;
}

.display-flex{
    display: flex;
}

.pn-container {
    /*max-width: 600px;  to remove when all html are in components */
    /*margin: 0 auto;*/
    min-height: 100%;
    background: $bgnegativecolor;
}
/*REVIEW PLACE AND CSS*/
.logo div{
    background: url(images/shuteye.png) no-repeat;
    background-size: 115px;
    background-position: -21px -21px;
    width: 84px;
    height: 87px;
}

.navbar{
    /*position: fixed;*/
    width: 100%;
    font:$headerfontbase;

    /* REVIEW PLACE */
    .nav-item{
        font-size: 19px;
        border-radius:7px 7px 0 0; 

        &.active{
            
            &:nth-child(odd){
                @include bg($bgnegativecolor,0.7);
            }
            &:nth-child(even){
                background-color: $bgnegativecolor;
            };
        }

        &.active a.nav-link{
            color: $headerColor;
        }
    
    }

    li {
        position: relative;
        list-style: none;
        padding: 15px 30px;
        /*border-bottom: #eee solid 1px;*/
    }

    li .text {
        margin-left: 10px;
    }

    li.checked {
        color: #888;
    }

    li.checked .text {
        text-decoration: line-through;
    }

    li.private {
        background: #eee;
        border-color: #ddd;
    }
}
.navbar .pn-container{
    display: flex;
    flex-direction: column;
    background-color: $bgcolor;
    max-width: 100%;
    color: $negativecolor;
    /*max-width: 600px;*/
    .navbar-collapse{
        margin-right: auto;
        margin-left: auto;
    }
}

.frame-container{
    padding-top: 100px;
}

#language-drop{
    padding: 0px;
    margin: 0px;
    border: none;
}

.flag{
    margin: -6px -1px;
}

.language-flags{
    margin: 5px;

    .dropdown-menu > li{
        min-width: 0;
    }
}

.dropdown .dropdown-menu{
    min-width: 20px;
    li{
        padding:0;
        margin: 0;
    }
}

a.nav-link{
    color:$bgnegativecolor;
    text-transform: uppercase;

}

a.nav-link:hover{
    transform: scale(1.2);
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: borer-box;

    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    /*background: white;*/
    display:flex;
    flex-direction: row;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}



header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
}
.search {
    width: 150px;
    clear: both;
}

.new-task input {
    padding-bottom: 5px;
}

.page{
    height: 100vh;

    &:first-child{
        background:none !important;
    }
    > div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;

    }

    &:nth-child(2n+2){
        /*background-color:rgba(255, 255, 255, 0.7);*/
        @include bg($bgnegativecolor,0.7);
    }
    &:nth-child(2n+1){
        background-color:$bgnegativecolor;
    }

    #indexPage {
        /*background-image: url(https://s-media-cache-ak0.pinimg.com/564x/cb/5f/f7/cb5ff75a581458a881fbceb6bcf9fff3.jpg);*/
        background-position: 463px 0px;
        background: none;

        .page-title{
            /*padding-top: 45%;*/
            padding-top: 300px;
        }
        h1,h2{
            @include text-stroke(black);
        }

    }
    h1, h2{
        color:$headerColor;
        text-decoration: underline;
        font-size: 40px;
        text-transform: uppercase;
        margin:0;
    }

    .page-title{
        padding: 130px 0 30px 0;
        margin:-100px 0 0 0;
    }

    .horiz-center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 375px;
    }
}

.statement{
    font-size: 28px;
}

#indexPage .statement{
    margin:40px 0 60px 0;
    font-size: 35px;
    @include text-stroke(white);
    text-align:center;
}

.big-statement{
    font-weight: 700;
    font-size: 40px;
}

#indexPage .orange-border{
    margin-bottom: 40px;
}

.orange-border, .full-color{
    background-color: $bgnegativecolor;
    border:solid 2px $bgcolor;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 600;
    padding: 5px 15px;
}

.full-color{
    background-color:$negativecolor;
    border-color: $negativecolor;
    min-width: 140px;
    display: flex;
    align-content: center;

    &.active{
        background-color:$bgcolor;
        color:$bgnegativecolor;
        border-color: $bgcolor;
    }

    span{
        margin: auto;
    }
}

.info-box{
    /*margin: 40px 0 0 0;*/
    /*border:1px $bgcolor solid;*/
    display: flex;
    width: 100%;
    height: 50%;

    .info-item{
        display: none;
        margin: auto;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &.active{
            display: flex;
        }

        .statement{
            margin-bottom: 20px;
        }
    }

    .info-disc-img{
        width: 300px;
        height: 200px;
    }
    .list-group-item{
        border:none;
        font-size:25px;
        padding-bottom: 30px;
        span{
            vertical-align: middle;
        }
    }

    .glyphicon{
        font-size: 20px;
        padding: 5px 10px;
    }
}

.dropdown{
    flex-grow: 1;
    float: right;
}

.info-pane{
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;

    &> div{
        display: flex;
        flex-direction: column;
        width: 17%;
        word-wrap: break-word;
    }
}

.SlideFrame{
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: -1;
    top:0px;
    left: 0px;
}

.howstart-row{
    display:flex;
    align-items: center;
    width: 1000px;

    &> div{
        display: flex;
        font-size:20px;
    }

    &> div:first-child{
        margin-right: 20px;
        font-weight: 700;
        font-size: 30px;
        width: 25%;
        flex-shrink: 0;
    }

    .glyphicon{
        font-size:30px;
    }
}

#whyPage .info-pane{
    width: 65%;
}

.info-pane > div.why-item{
    font-size:20px;
    padding:40px 20px;
    width:50%;

    span.bullet{
        font-size: 30px;
        font-weight: 700;
    }

    .glyphicon{
        font-size: 30px;
    }
    span.description{
        padding-left: 20px;
    }
}

#startPage{
    .list-group{
        margin-top: 30px;
    }
    .list-group-item{
        padding-bottom: 0;
        padding:20px 15px;
    }
}

.comm-pane{
    width: 70%;
    padding-top: 35px;
}

.news-pane{
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
    .news-img{
        position: absolute;
        z-index: 0;
    }

    .news-text{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        color:white;
        padding:5px 10px;
        background:linear-gradient(black, transparent);

        .title{
            font-size: 20px;
        }

        .description{
            font-size:16px;
        }
    }
}

.email-form{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    
    .input-group{
        width: 260px
    }

    .title{
        display: block;
        text-transform: capitalize;
        font-size: 24px;
        padding: 0 10px 10px 0;
    }
    fieldset{
        display: flex;
    }
    input.form-control{
        width: 200px;
    }
    .input-group-btn button{
        border: solid 1px #ccc;
    }
}

.social{
    margin-top: 20px;

    .title{
        font-size: 24px;
    }

    .btn{
        color:#a0a0a9;
        margin: 10px 10px;
        font-size:30px;
        box-shadow: 0 0 3px;
        border-color: transparent;
        border-radius: 30px;

        span{
            position: relative;
            top:3px;
        }
        &:focus{
            color:#a0a0a9;
            background-color: white;
            border-color: transparent;
        }
        &:hover{
            background-color: white;
            border-color: transparent;
        }
    }
    .fb-btn{
        &:hover{
            color:#29487d;
        }
    }
    .tw-btn{
        &:hover{
            color:#4da7de;
        }
    }
    .ig-btn{
        &:hover{
            color:#E96A24;
        }
    }
}