$bgcolor: orange;
$headerColor: orange;
$bgnegativecolor: white;
$negativecolor: lightgrey;
$headerfontbase: 'sans-serif' 14px;

a{
    user-select: none;
    cursor: pointer;
    &:hover,&:focus{
        text-decoration:none !important;
        opacity: 0.8;

    }
}

body {
    font-family: sans-serif;
    background-color: $bgcolor;
    background-image: linear-gradient(to bottom, $bgcolor, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

h1{
    margin: 0;
}

.container {
    /*max-width: 600px;  to remove when all html are in components */
    /*margin: 0 auto;*/
    min-height: 100%;
    background: $bgnegativecolor;
}
.navbar{
    /*position: fixed;*/
    width: 100%;
    font:$headerfontbase;

}
.navbar .container{
    display: flex;
    flex-direction: column;
    background-color: $bgcolor;
    max-width: 100%;
    /*max-width: 600px;*/
    .navbar-collapse{
        margin-right: auto;
        margin-left: auto;
    }
}

a.nav-link{
    font-color:$bgcolor;
    text-transform: uppercase;

}

a.nav-link:hover{
    transform: scale(1.2);
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: borer-box;

    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
    display:flex;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
}
.search {
    width: 150px;
    clear: both;
}

.new-task input {
    padding-bottom: 5px;
}

.page{
    height: 100vh;

    > div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    #indexPage {
        background-image: url(https://s-media-cache-ak0.pinimg.com/564x/cb/5f/f7/cb5ff75a581458a881fbceb6bcf9fff3.jpg);
        background-position: 463px 0px;
    }
    h1{
        color:$headerColor;
        text-decoration: underline;
        font-size: 40px;
        text-transform: uppercase;
        padding: 30px 0;
        margin:0;
    }

    .horiz-center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 50%;
    }
}

.statement{
    font-size: 28px;
}

#indexPage .statement{
    margin:0 0 60px 0;
}

#indexPage .orange-border{
    margin-bottom: 40px;
}

.orange-border, .full-color{
    background-color: $bgnegativecolor;
    border:solid 2px $bgcolor;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 600;
    padding: 5px 15px;
}

.full-color{
    background-color:$negativecolor;
    border-color: $negativecolor;
    min-width: 140px;
    display: flex;
    align-content: center;

    &.active{
        background-color:$bgcolor;
        color:$bgnegativecolor;
        border-color: $bgcolor;
    }

    span{
        margin: auto;
    }
}

.info-box{
    margin: 40px 0 0 0;
    border:1px $bgcolor solid;
    display: flex;
    width: 100%;
    height: 50%;
    .info-item{
        display: none;
        margin: auto;

        &.active{
            display: flex;
        }
    }
}

.dropdown{
    flex-grow: 1;
    float: right;
}