$bgDefault      : #000000;
$bgHighlight    : #37BDA0;
$colDefault     : #f7f7f7;
$colHighlight   : #37BDA0;
$btnDefault     : #f7f7f7;
$bgBtnDefault   : #44ad94;
$dropDown       : false;
.navbar-news {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  padding: 10px;
  .container-fluid{
    width: 90%;
    .btn{
      color:$btnDefault;
      background-color: $bgBtnDefault;

      &:hover{
        background-color:$bgHighlight;
      };
    }
  }
  .navbar-right{
      margin-right: 0;
    }
  .title{
    color:$colDefault;
  }
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
    .btn{
      color:$btnDefault;
      background-color: $bgBtnDefault;
    }
    .title{
      color:$colDefault;
    }
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-news .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
@media(max-width: 1250px){
  .navbar-news {
    .container-fluid{
      display: flex;
      flex-direction: column;
      
      .navbar-right{
        float: none !important;
        margin-right: auto;
        margin-left: auto;
      }
      
      .navbar-left{
        float: none !important;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}